<div class="inner-sidebar" th:fragment="sidebar">
    <!-- Inner sidebar header -->
    <div class="inner-sidebar-header justify-content-center">
        <a th:unless="${isAuthenticated}" th:href="@{/auth/login}" class="btn btn-primary has-icon btn-block">
            LOGIN TO POST
        </a>
        <a th:if="${isAuthenticated} and ${!isBlocked}" th:href="@{/posts/new}" class="btn btn-primary has-icon btn-block">
            NEW POST
        </a>
        <a th:if="${isAuthenticated} and ${isBlocked}" class="btn btn-danger has-icon btn-block">
            BLOCKED
        </a>
    </div>
    <!-- /Inner sidebar header -->

    <!-- Tags list -->
    <div class="inner-sidebar-body p-0">
        <div class="p-3 h-100">
            <nav class="nav nav-pills nav-gap-y-1 flex-column" style="overflow-y: auto;">
                <a th:if="${isAuthenticated}" th:href="@{/}" class="nav-link nav-link-faded">All Threads</a>
                <a th:href="@{/posts/mostLiked}" class="nav-link nav-link-faded has-icon">Most Liked</a>
                <a th:href="@{/posts/mostCommented}" class="nav-link nav-link-faded has-icon">Most Replied</a>
                <!-- Title for Tags aligned with other links -->
                <h5 class="tags-title bg-primary rounded-2 p-1" style="margin-top: 10px; margin-bottom: 5px; text-align: center;color: white">Tags</h5>
                <!-- List all tags with icon -->
                <div class="tags-list bg-light" style="overflow-y: auto;">
                    <a th:each="tag : ${tags}" th:href="@{/posts/tag/{tagName}(tagName=${tag.getName()})}" class="nav-link nav-link-faded" style="display: flex; align-items: center;">
                        <i class="fa-solid fa-tag" style="margin-right: 5px;color: #007bff"></i>
                        <span th:text="${tag.getName()}"></span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>

