<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Cool forum</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css}"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../static/css/style.css}"/>
    <script src="https://kit.fontawesome.com/03af3564c7.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</head>

<footer th:fragment="footer">
    <p class="text-center">
    <a class="text-center" href="#"  th:href="@{/about}">
        <small class="text-center"  th:text="'Total Users: ' + ${usersCount} + '.Total Posts: ' + ${postsCount} + ${'. © Copyright ' + #dates.year(#dates.createNow()) + ' Forum. Property of ApexTech3 Enterprises'}">
            Forum
        </small>
    </a>
    </p>
</footer>


<header th:fragment="header">
    <div>
        <h3>
            <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
            <a href="#" th:href="@{/posts}" th:text="#{navigation.all-posts}">Browse all Posts</a>
            <a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">Browse all Users</a>
            <a href="#" th:href="@{/about}" th:text="#{navigation.about}">About</a>
        </h3>
    </div>
</header>
</html>