
<form th:replace="~{fragments/head.html::head('Home')}"></form>
<body>
<form th:replace="~{fragments/header.html::inner-main-header}"></form>
<div class="body-content">
    <h2 th:text="#{home.welcome}">Welcome (design)!</h2>
    <img src="../static/images/logo.png" th:src="@{../static/images/logo.png}" alt="Forum logo"/>
    <p th:text="'Total Users: ' + ${usersCount}">Total Users</p>
    <p th:text="'Total Posts: ' + ${postsCount}">Total Posts</p>
</div>
<form th:replace="~{fragments/footer.html::footer}"></form>
</body>
