<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{fragments/head.html::head(${user.username})}"></form>

<body>
<div class="container">
    <div class="main-body p-0">
        <div class="inner-wrapper">
            <!-- Inner sidebar -->
            <form th:replace="~{fragments/sidebar.html :: sidebar}"></form>

            <!-- Inner main -->
            <div class="inner-main">
                <!-- Inner main header -->
                <div th:replace="~{fragments/header.html :: inner-main-header}" class="inner-main-header"></div>
                <div class="inner-main-body p-2 p-sm-3">
                    <div class="d-flex justify-content-center">
                        <div class="card mb-2 content text-center d-inline-block  p-5">

                            <div class="body-content" th:align="center">
                                <h2 th:text="${user.username}">Username</h2>
                                <div th:style="text-align">
                                    <p class="margin12"
                                       th:text="#{user.label.first-name}  + ': ' +       ${user.firstName}">Pesho</p>
                                    <p class="margin12"
                                       th:text="#{user.label.last-name} + ': ' +      ${user.lastName}">
                                        Peshov</p>
                                    <p class="margin12" th:text="#{user.label.email}  + ': ' + ${user.email}">
                                        pesho@peshomail.com</p>
                                    <p th:if="${session.isAdmin}" class="margin12"
                                       th:text="#{user.label.roles}  + ': ' + ${user.roles}">USER</p>
                                </div>
                                <h3 th:if="${adminOrCurrentUser}">
                                    <a href="#" th:if="${session.isAdmin}" th:href="@{__${requestURI}__/admin-edit}">Edit</a>
                                    <!--                                  -->
                                    <a href="#" th:unless="${session.isAdmin}"
                                       th:href="@{__${requestURI}__/edit}">Edit</a>
                                    <a href="#" th:href="@{__${requestURI}__/delete}">Delete</a>
                                </h3>
                            </div>
                        </div>
                    </div>


                    <div class="card mb-2" th:each="post : ${userPosts}">
                        <div class="card-body p-2 p-sm-3">
                            <div class="media forum-item">
                                <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                 class="mr-3 rounded-circle" width="50" alt="User"/></a>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6><a th:href="@{/posts/{id}(id=${post.id})}" href="#" class="text-body"
                                                   th:text="${post.title}">Title</a></h6>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<form th:replace="~{fragments/footer.html::footer}"></form>

</body>
</html>