<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{fragments/head.html::head('Edit Profile Admin')}"></form>
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
    <div th:text="${user.firstName}">First Name</div>
    <div th:text="${user.lastName}">First Name</div>
    <div th:text="${user.email}">First Name</div>
    <div th:text="${user.firstName}">First Name</div>

<form th:replace="~{fragments/footer.html::footer}"></form>

</body>
</html>